ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #283747;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1{
  font-size: 300%;
  margin-left: 57px;
  margin-top: 30px;
}
#git_icon {
  margin-top: 0px;
  float: right;
  height: 80px;
}
#linked_icon {
  margin-top: 0px;
  float: right;
  height: 80px;
}
div.relative{
  position: fixed;
}
#sat {
  float: right;
  height:228px;
}
br {
margin:2.5em 0;
line-height:5em;
}
p {
  width: 31%;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 30px;
  margin-right: 0;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}
table, td, th {
  border: 1.5px solid black;
  text-align: left;
  padding: 8px;
}
tr:nth-child(odd){
background-color: #f9f9f9;
}
body {
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #e5e6e8;
}

div.relative{
  position: relative;
  margin-left: 35px;

}
h2{
  margin-left: 35px;
}
hr{
  width: 31%;
  margin-left: 35px;
}
